<section id="experience" style="margin-bottom: 50px;">
  <div class="container" style="overflow-x:auto; overflow: -moz-scrollbars-vertical;">
    <h3 class="display-4"
      style="color:dimgrey;text-align: center;padding-bottom: 10px">PROFESSIONAL EXPERIENCE</h3>
<table class="table table-hover-cells" >
    <tbody>
    <tr>
      <td><a type="button" data-toggle="modal" name="E2open" id="E2opentrigger" >
        <img src="../../assets/E2open.jpg" class="img-rounded zoom" title="E2open"> </a></td>
      <td><a type="button" data-toggle="modal" name="UMKC" id="UMKCtrigger">
        <img src="../../assets/umkc.jpg" class="img-rounded zoom" title="UMKC Information Services"></a></td>
    </tr>
    </tbody>
</table>
  </div>
</section>

<div class="modal fade" id="Modalexp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle" style="text-align: center;font-size: 20px">Label</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="E2opendata">
          <h4 class="display-3">Position: <a style="color: #333;text-decoration: none">
            Associate Technical Support Engineer</a></h4>
          <h4 class="display-3">Experience: <a style="color: #333;text-decoration: none">2 Years 2 Months</a></h4>
          <h4 class="display-3">Responsibilities:</h4>
          <ul>
            <li>Responsible for Maintenance, resolution of Data issues and troubleshoot user application issues.</li>
            <li>Functioned as the engineering resource to handle product bugs and Database issues in Sql Server.</li>
            <li>Handled issues in extracting, transforming and loading of data in SQL Server DTS & Adeptia ETL.</li>
            <li>Developed ad-hoc complex queries for end users and TSQL scripts for reporting.</li>
            <li>Automation of regular tasks with LDAP and data for reporting using Core Java.</li>
            <li>Interacted with global clients as a Technical Analyst for product issues and requirements.</li>
            <li>Product knowledge on Demand Sensing and Demand planning application.</li>
          </ul>
        </div>
        <div id="UMKCdata">
          <h4 class="display-3">Position: <a style="color: #333;text-decoration: none">Student Software Developer</a></h4>
          <h4 class="display-3">Experience: <a style="color: #333;text-decoration: none"></a>1 Year</h4>
          <h4 class="display-2">Responsibilities:</h4>
          <ul>
            <li>Custom application programming and development using C#, MVC, Razor, LINQ, Sql Server, Jquery.</li>
            <li>Responsible for developing database schema in Oracle and Sql server using ActiveX Data Object.Net techniques.
            </li>
            <li>Responsible for complete migration of ColdFusion applications to ASP.Net MVC.</li>
            <li>Developed client specific reports using Report Builder in SSRS.</li>
          </ul>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<app-projects></app-projects>
