<Section id="summary">
<div class="container" style="margin-bottom: 50px;margin-top: 50px;">

  <h2 class="display-1" style="color:dimgrey;text-align: center;">SUMMARY</h2>


  <div class="row" >
    <!--<h4 class="col-sm-10"><i class="fa fa-genderless"></i> 3 Year of IT Experience as a software Developer-->
    <!--</h4>-->
    <ul>
      <li>4 years of experience in developing applications using agile SCRUM software development process.</li>

      <li>Experienced in UI Design and Development using Angular, HTML5, CSS3, JavaScript, jQuery, Bootstrap and AJAX that follows W3C Web standards successfully managing all facets of application development. </li>

      <li>Good hands on experience in building RESTful web services with spring architecture. </li>
      <li>Had good experience on Spring frame works Spring MVC, Spring JDBC and Spring JPA.</li>

      <li>Good experience on Testing Rest services using Postman and documenting with Swagger API. </li>

      <li>Good Knowledge on core java concepts collections and Multithreading and Java 8 features. </li>
      <li>Expert in optimizing the performance of SQL and PL/SQL queries. </li>

      <li>Good experience with AWS S3, EC2, RDS, Cloud watch, IAM, SQS and SNS modules. </li>

      <li>Good knowledge on different databases like MySQL, Oracle 11g, Microsoft SQL Server and NoSQL. </li>

      <li>Had experience on using GIT, Source Tree. </li>

      <li>Good experience with build tools like Gradle, Maven. </li>
      <li>Experience of using Jenkins tools for CI/CD pipelines. </li>
      <li>Certified in AWS Cloud Practitioner</li>

      <li>Good knowledge on Docker containers. </li>

    </ul>
    </div>
</div>
</Section>
<app-academic></app-academic>
