<Section id="summary">
<div class="container" style="margin-bottom: 50px;margin-top: 50px;">

  <h2 class="display-1" style="color:dimgrey;text-align: center;">SUMMARY</h2>


  <div class="row" >
    <!--<h4 class="col-sm-10"><i class="fa fa-genderless"></i> 3 Year of IT Experience as a software Developer-->
    <!--</h4>-->
    <ul>
      <li>3 Years of IT Experience as Software Engineer.</li>
      <li>Experience in developing Full Stack applications and RESTful API's.</li>
      <li>Well versed with database systems and reporting tools.</li>
      <li>Involved in all stages of Software Development life cycle from analysis, design, Development, testing,
       deployment and maintenance.</li>
      <li>Followed Agile methodology in all projects.</li>
      <li>Master Degree in Computer Science at University of Missouri Kansas City.</li>
    </ul>
    </div>
</div>
</Section>
<app-academic></app-academic>
