<section id="Academic" style="margin-bottom: 50px">
  <h3 class="display-4"
      style="color:dimgrey;text-align: center;padding-bottom: 10px">EDUCATION</h3>
  <div class="container" style="overflow-x:auto;">
    <table class="table table-hover-cells">
      <tbody>
      <tr>
        <td><a data-toggle="modal" name="Secondary Education" id="SecondaryTrigger" title="Secondary Education" >
        <img  src="../../assets/school.jpg" class="img-circle zoom"  title="SecondaryEducation" >
        </a> </td>
      <td>
        <a type="button" data-toggle="modal" name="Engineering" id="EngineeringTrigger"  >
          <img src="../../assets/engineering.jpg" class="img-circle zoom" title="Engineering"></a>
      </td>
      <td>
        <a type="button" data-toggle="modal" name="Master Of Science" id="MasterTrigger" >
          <img src="../../assets/masters.jpg" class="img-circle zoom" title="Master Degree"></a>
      </td>
    </tr>
      </tbody>
    </table>
  </div>
</section>

<div class="modal fade-scale" id="ModalExp1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle1" style="text-align: center;font-size: 20px">Label</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="schoolData">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Education Level</th>
              <th>Institution</th>
              <th>Syllabus</th>
              <th>Grade</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Secondary Eduction</td>
              <td>St Ann's School(10th)</td>
              <td>ICSE</td>
              <td>73%</td>
            </tr>
            <tr>
              <td>Secondary Eduction</td>
              <td>Sri Chaitanya Junior College(12th)</td>
              <td>MPC</td>
              <td>92.2%</td>
            </tr>
            </tbody>

          </table>
        </div>
        <div id="engineeringData">
          <table class="table table-hover table-borderless">
            <tbody>
            <tr>
              <td style="text-align: left"><h4><span class="fa fa-university"></span>&nbsp; Institute</h4></td>
              <td><h4>Vignan Institute of Information Technology</h4></td>
            </tr>
            <tr>
              <td style="text-align: left"><h4><span class="fa fa-university"></span>&nbsp; University Affiliated</h4></td>
              <td><h4>JNTUK</h4></td>
            </tr>
            <tr>
              <td style="text-align: left"><h4><span class="glyphicon glyphicon-education"></span>&nbsp; Graduation</h4></td>
              <td><h4>Spring 2016</h4></td>
            </tr>
            <tr>
              <td style="text-align: left"><h4><span class="glyphicon glyphicon-pushpin"></span>&nbsp; Grade</h4></td>
              <td><h4>3.7</h4></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="masterData">
          <table class="table table-hover">
            <tbody>
            <tr>
              <td style="text-align: left"><h4><span class="fa fa-university"></span>&nbsp; University</h4></td>
              <td><h4>University Of Missouri Kansas City</h4></td>
            </tr>
            <tr>
              <td style="text-align: left"><h4><span class="fa fa-book"></span>&nbsp; Specialization</h4></td>
              <td><h4>Computer Science</h4></td>
            </tr>
            <tr>
              <td style="text-align: left"><h4><span class="glyphicon glyphicon-education"></span>&nbsp; Graduation</h4></td>
              <td><h4>Spring 2020</h4></td>
            </tr>
            <tr>
              <td style="text-align: left"><h4><span class="glyphicon glyphicon-pushpin"></span>&nbsp; Grade</h4></td>
              <td><h4>3.7</h4></td>
            </tr>
            </tbody>
          </table>
          <h4><span class="	glyphicon glyphicon-list"></span>&nbsp; Relevant Course Work:</h4>
            <ul>
              <li>Advanced Software Engineering</li>
              <li>Architecture of Database Management</li>
              <li>Design and Analysis of Algorithms</li>
              <li>Principles of Big Data Management</li>
              <li>Parallel Algorithms</li>
              <li>Big Data Programming</li>
              <li>Network Architecture</li>
              <li>Formal Software Specifications</li>
              <li>Unity Programming</li>
            </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<app-experience></app-experience>
