<section id="project">
  <div class="container" style="overflow-x:auto; overflow: -moz-scrollbars-vertical;">
    <h3 class="display-4"
        style="color:dimgrey;text-align: center;padding-bottom: 10px">PROJECTS</h3>
      <table class="table table-hover">
        <tbody>
        <tr>
          <td><a type="button" data-toggle="modal" name="Twitter-Data-Analysis" id="project1" >
            <img src="../../assets/twitteranalysis.jpg" class="img-thumbnail zoom" title="Twitter-Data-Analysis"> </a></td>
          <td><a type="button" data-toggle="modal" name="Shuttle" id="project2">
          <img src="../../assets/shuttle2.jpg" class="img-thumbnail zoom" title="Shutttle App"></a></td>
          <td><a type="button" data-toggle="modal" name="Deep Learning Model Hub" id="project3">
          <img src="../../assets/modalhub.jpg" class="img-thumbnail zoom" title="Deep Learning Model Hub App"></a></td>
          <td><a type="button" data-toggle="modal" name="Unity 3D" id="project4">
            <img src="../../assets/unity.jpg" class="img-thumbnail zoom" title="Unity 3D"></a></td>
          <td><a type="button" data-toggle="modal" name="Other Projects" id="project5">
            <img src="../../assets/other.jpg" class="img-thumbnail zoom" title="Projects"></a></td>
        </tr>
        </tbody>
      </table>
  </div>
</section>
<div class="modal fade" id="ModalExp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle2" style="text-align: center;font-size: 20px">Label</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="twitterData">
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Project Description:</h4>
            <p>Collected tweets using twitter Streaming API and stored data in HDFS.
                Analyzed the data by writing Analytics queries in Spark SQL and Visualized data using AMCharts.
            </p>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Technologies:</h4>
                <p>Python, Apache Spark, Apache Hadoop, Java, Angular, AMCharts</p>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;GitHub Link:</h4>
              <a target="_blank" href="https://github.com/Tejadevarapalli/Twitter-Data-analysis">
                  https://github.com/Tejadevarapalli/Twitter-Data-analysis</a>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Project Report:</h4>
              <a target="_blank" href="https://github.com/Tejadevarapalli/Twitter-Data-analysis/blob/master/Phase-2/Phase-2%20report.pdf">
                https://github.com/Tejadevarapalli/Twitter-Data-analysis/blob/master/Phase-2/Phase-2%20report.pdf</a>
        </div>
        <div id="ShuttleData">
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Project Description:</h4>
          <p>A cross platform mobile application build for shuttles that will allow patrons to request a pickup.
            As soon as a request is sent with the location, the driver of the nearest shuttle will be notified of the pickup
            location. Once the driver accepts the pickup, it will automatically route the driver to the patron’s
            location with the least distance and time option.
          </p>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Technologies:</h4>
          <p>Angular, MongoDB, Express.js, Node.js, JavaScript, Ionic(Mobile App)</p>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;GitHub Link:</h4>
          <ul>
          <li><a target="_blank" href="https://github.com/Tejadevarapalli/Hack_A_Roo_2019_VipraShuttle-Web">
            https://github.com/Tejadevarapalli/Hack_A_Roo_2019_VipraShuttle-Web</a></li>
            <li><a target="_blank" href="https://github.com/Tejadevarapalli/Hack-A-Roo-2019_VipraShuttle-BackEnd">
              https://github.com/Tejadevarapalli/Hack-A-Roo-2019_VipraShuttle-BackEnd</a></li>
            <li><a target="_blank" href="https://github.com/Tejadevarapalli/Hack-A-Roo-2019_VipraShuttle-Mobile">
              https://github.com/Tejadevarapalli/Hack-A-Roo-2019_VipraShuttle-Mobile</a></li>
          </ul>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Project Report:</h4>
          <a target="_blank" href="https://github.com/Tejadevarapalli/Hack-A-Roo-2019_VipraShuttle-Mobile/blob/master/Requirements/Vipra_Courtesy_Shuttle_PPT.pptx">
            Report</a>
          <h4 class="display-4" style="font-size: 12px;">
            <span class="glyphicon glyphicon-asterisk"></span>Won 3rd Prize for this project in UMKC Hackathon fall 2019</h4>
        </div>
        <div id="ASEData">
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Project Description:</h4>
          <p>An application like GitHub, in which users can store trained models
            and provide access for everyone to view the model and its metadata, download, like and comment the models.
          </p>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Technologies:</h4>
          <p>Angular, MongoDB, Express.js, Node.js, Javascript</p>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;GitHub Link:</h4>
          <a target="_blank" href="https://github.com/Tejadevarapalli/Asegithubproject">
            https://github.com/Tejadevarapalli/Asegithubproject</a>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Project Report:</h4>
          <a target="_blank" href="https://github.com/Tejadevarapalli/Asegithubproject/blob/master/Final%20Project%20presentation.pptx">
            Report</a>
        </div>
        <div id="Unity">
          <p>Unity programming, learned as part of Academic curriculum
            which helped me to develop projects,to bring animation to real life through Virtual Reality.</p>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Tools & Technology:</h4>
          <p>Unity 3d, C#, Oculus VR HeadSet, Stream</p>
          <h4><span class="glyphicon glyphicon-tag"></span>&nbsp;Projects :</h4>
          <ul>
            <li><a href="https://github.com/Tejadevarapalli/KitchenShowRoom" target="_blank">
            Kitchen Show Room</a></li>
            <li><a href="https://github.com/Tejadevarapalli/RollBallGame" target="_blank">
              Roll a Ball
            </a></li>
            <li><a href="https://github.com/Tejadevarapalli/VRgame" target="_blank">
              VR bot Fight
            </a>
            </li>
          </ul>
        </div>
        <div id="other">
          <h4>Project-1:</h4>
          <p>Receipt Tracking App</p>
          <h4>Decription:</h4>
          <p>A mobile application that allows to capture the receipts data to keep a track of the expenses.
            Built for cross platform mobile application.</p>
          <h4>Github:</h4>
          <a href="https://github.com/Tejadevarapalli/Hackaroo-receiptstracking" target="_blank">
            Receipt Tracker(Ionic App)
          </a>
          <hr>
          <h4>Project-2:</h4>
          <p>Weather Forecast Application</p>
          <h4>Description:</h4>
          <p>Weather Application to predict next 4 hrs of weather report based on location.</p>
          <h4>Github:</h4>
          <a href="https://github.com/Tejadevarapalli/Weatherforecast" target="_blank">Weather App</a>
          <hr>
          <h4>Project-3:</h4>
          <p>Nutrition Application</p>
          <h4>Description:</h4>
          <p>Application which provides information about Nutrition present in Food on search.</p>
          <h4>Github:</h4>
          <a href="https://github.com/Tejadevarapalli/nutriapp" target="_blank">Weather App</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<app-technologies></app-technologies>
