<section id="technology" style="margin-bottom: 50px">
  <div class="container" style="overflow-x:auto; overflow: -moz-scrollbars-vertical;">
    <h3 class="display-4"
        style="color:dimgrey;text-align: center;padding-bottom: 10px">SKILLS SUMMARY</h3>
    <table class="table table-hover" >
      <tbody>
        <tr>
          <td>High Level Languages</td>
          <td>Java, C#, C, PL/SQL, T-SQL.</td>
        </tr>
        <tr>
          <td>Frameworks</td>
          <td>Spring Boot, Hibernate, ASP.NET MVC, Entity Framework.</td>
        </tr>
        <tr>
          <td>Web Technologies</td>
          <td>JavaScript, HTML5, CSS3, Bootstrap, jQuery, Angular 7, Node.js, Express.js.</td>
        </tr>
        <tr>
          <td>Databases</td>
          <td>MS SQL Server 2016, Oracle 12C, MongoDB, Firebase.</td>
        </tr>
        <tr>
          <td>Version Control</td>
          <td>Git.</td>
        </tr>
        <tr>
          <td>Tools</td>
          <td>LDAP, DTS, Adeptia, SQL Server Report Builder.</td>
        </tr>
        <tr>
          <td>Cloud Technologies</td>
          <td>Amazon Web Services(AWS)</td>
        </tr>
        <tr>
          <td>Others</td>
          <td>Ionic, JWT, JIRA, Confluence, Stash.</td>
        </tr>
        <tr>
          <td>Developer Tools</td>
          <td>Chrome Dev Tools, SQL Tuner.</td>
        </tr>
        <tr>
          <td>Debugger IDEs</td>
          <td>Visual Studio, Eclipse, WebStorm, PyCharm.</td>
        </tr>
        <tr>
          <td>Big Data Technologies</td>
          <td>Hadoop, Spark, HIVE, PIG, SQOOP, SOLR, YARN.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-certificates></app-certificates>
