
<div class="jumbotron"  style="background-color: #102e60">
<div>
  <a class="top" href="#" style="font-size: 12px;"><i class="fa fa-user-circle"></i>&nbsp;PORTFOLIO</a>
  <!--&nbsp;&nbsp;<a href="#summary" class="small">SUMMARY</a>-->
  <!--&nbsp;&nbsp;<a href="#Academic" class="small">EDUCATION</a>-->
  <!--&nbsp;&nbsp; <a href="#experience" class="small">EXPERIENCE</a>-->
  <!--&nbsp;&nbsp; <a href="#project" class="small">PROJECTS</a>-->
  <!--&nbsp;&nbsp; <a href="#technology" class="small">SKILLS</a>-->
  <!--&nbsp;&nbsp; <a href="#certificates" class="small">CERTIFICATIONS</a>-->


  <a class="top1" style="float:right; margin-right:30px;"
     href="mailto:tejadevarapalli47@gmail.com" target="_top"><span class="glyphicon glyphicon-envelope"></span>&nbsp;<u>{{email}}</u></a>
</div>

</div>

<div class="container-fluid" >
  <div class="row" >
    <div class="col-md-1">
    </div>

    <div class="col-md-1">
      <a id="profile" target="_blank" >
        <img alt="profile pic" class="thumbnail" src="../../assets/Teja.jpg"/>
      </a>
    </div>
    <div class="col-md-10">
      <!-- Second container-->
      <div class="container-fluid" id="second">
        <div class="row">
          <div class="col-md-4">
            <h2 class="well"><span class="glyphicon glyphicon-user"></span>&nbsp;{{FullName}}</h2>
          </div>
          <div class="col-md-6">
            <h2 class="well"><span class="glyphicon glyphicon-education"></span>&nbsp;{{Education}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h2 class="well"><span class="glphicon glyphicon-job"></span>{{Job}}</h2>
          </div>
        </div>
      </div>
      <!-- end second container-->
    </div>
    <!--end of md-10 of first container -->
  </div>
  <!--end of row -->
<!--end of first container-->

</div>
<app-summary></app-summary>
